a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary-lighten-2));

  &:hover {
    color: rgb(var(--v-theme-primary));
  }
}

.primary {
  color: black !important;
}

.row {
  margin: 0 12px;
}

.search {
  max-width: 40%;
}

.v-data-table {
  background: unset !important;
  user-select: none;

  thead {
    tr td:hover {
      background: var(--v-background-lighten1) !important;
    }
  }

  tbody {
    tr {
      &:hover {
        background: var(--v-background-lighten1) !important;
      }
    }
  }
}